name: "Tests"

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  validate-spi-manifest:
    name: Validate SPI Manifest
    runs-on: macos-15
    env:
      DEVELOPER_DIR: /Applications/Xcode_16.1.app/Contents/Developer
      VALIDATE_SPI_MANIFEST: YES
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4
    - name: Validate SPI Manifest
      run: swift package plugin validate-spi-manifest
  compile-snapshots:
    name: Compile Snapshots (Swift ${{ matrix.swift-version }})
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        swift-version: ["5", "6"]
    env:
      DEVELOPER_DIR: /Applications/Xcode_16.1.app/Contents/Developer
      SWIFT_VERSION: ${{ matrix.swift-version }}
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4
    - name: Compile Snapshots
      run: .github/scripts/compile-snapshots.sh
  unit-test-xcode:
    name: Unit Tests (Xcode ${{ matrix.xcode }})
    strategy:
      fail-fast: false
      matrix:
        include:
        - xcode: "15.0"
          macos: macOS-13
        - xcode: "15.2"
          macos: macOS-14
        - xcode: "15.3"
          macos: macOS-14
        - xcode: "15.4"
          macos: macOS-14
        - xcode: "16.0"
          macos: macOS-15
        - xcode: "16.1"
          macos: macOS-15
        - xcode: "16.2"
          macos: macOS-15
        - xcode: "16.3"
          macos: macOS-15
    runs-on: ${{ matrix.macos }}
    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4
    - name: Run Tests
      run: xcodebuild clean test -scheme XCStringsTool-Package -destination platform=macOS
  unit-test-swift-syntax:
    name: Unit Tests (Swift Syntax ${{ matrix.swift-syntax }})
    strategy:
      fail-fast: false
      matrix:
        swift-syntax:
        - "509.0.2"
        - "509.1.1"
        - "510.0.2"
        - "600.0.1"
        include:
        - swift-syntax: "509.0.2"
          revision: 6ad4ea24b01559dde0773e3d091f1b9e36175036
        - swift-syntax: "509.1.1"
          revision: 64889f0c732f210a935a0ad7cda38f77f876262d
        - swift-syntax: "510.0.2"
          revision: 303e5c5c36d6a558407d364878df131c3546fad8
        - swift-syntax: "600.0.1"
          revision: 0687f71944021d616d34d922343dcef086855920
        - swift-syntax: "601.0.1"
          revision: f99ae8aa18f0cf0d53481901f88a0991dc3bd4a2
    runs-on: macOS-15
    env:
      DEVELOPER_DIR: /Applications/Xcode_16.1.app/Contents/Developer
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4
    - name: Update Package Pins
      run: |
        jq '(.pins[] | select(.identity == "swift-syntax") | .state.revision) = "${{ matrix.revision }}" | (.pins[] | select(.identity == "swift-syntax") | .state.version) = "${{ matrix.swift-syntax }}"' Package.resolved | sed 's/": /" : /g' > Package.resolved.tmp && mv Package.resolved.tmp Package.resolved
        git diff Package.resolved
    - name: Run Tests
      run: xcodebuild clean test -scheme XCStringsTool-Package -destination platform=macOS
